#albums {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 85%;
  }
  
  #albums td, #albums th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #albums tr:nth-child(even){
    background-color: #f2f2f2;
  }
  
  #albums tr:hover {
    background-color: #ddd;
  }
  
  #albums th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  .members {
    width: 50%;
  }

  li{
    max-width:50%;
  }
  
  #Claudio{
    color: red;
  }

  #Travis{
    color: green;
    border-style: solid;
    border-color: pink;
  }

  #Josh{
    color: orange;
    border-style: solid;
    border-color: purple;
  }

  #Zach{
    color: blue;
    border-style: solid;
    border-color: darkseagreen;
  }

  a{
    color: inherit;
  } 

  ul{
    list-style-position: inside;
  }

  .youtube {
    width: 100%;
  }

  @media screen and (max-width: 900px) {
    main, .youtube, img, table
    {
      width: 100%;
    }
    .members {
      width: 50%;
    }
  }

  @media screen and (max-width: 768px) {
    main, .youtube, img, table
    {
      width: 100%;
    }
    .members {
      width: 50%;
    }
    table#albums th:nth-child(3) {
      display: none;
    }
    table#albums td:nth-child(3) {
      display: none;
    }
    table#albums th:nth-child(4) {
      display: none;
    }
    table#albums td:nth-child(4) {
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
    main, .youtube, table, img
    {
      width: 100%;
    }
    .members{
      width: 60%;
    }
    table#albums th {
      display: none;
    }
    table#albums td {
      display: none;
    }
    table#albums th:nth-child(1) {
      display: block;
    }
    table#albums td:nth-child(1) {
      display: block;
    }
  }

  @media screen and (max-width: 480px) {
    main, .youtube, table, img,
    .members{
      width: 100%;
    }
    table#albums th {
      display: none;
    }
    table#albums td {
      display: none;
    }
    table#albums th:nth-child(1) {
      display: block;
    }
    table#albums td:nth-child(1) {
      display: block;
    }
  }

  @media screen and (max-width: 320px) {
    main, .youtube, table, img,
    .members{
      width: 100%;
    }
    table#albums th {
      display: none;
    }
    table#albums td {
      display: none;
    }
    table#albums th:nth-child(1) {
      display: block;
    }
    table#albums td:nth-child(1) {
      display: block;
    }
  }
  